.category-preview-container {
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
}

.category-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 12px;
    width: calc(100% - 24px);
    height: 1px;
    background-color: #ccc;
  }
}

.shop-category-title {
  font-size: 32px;
  text-transform: capitalize;
  color: #005547;
  text-align: left;
  cursor: pointer;
}

.shop-category-button {
  color: #005547;
  text-decoration: none;
  margin-left: 15px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: calc(0px - 5px);
    width: 100%;
    height: 1px;
    opacity: 0;
    background-color: #005547;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    color: #005547;

    &::before {
      opacity: 1;
    }
  }

  svg {
    margin-left: 10px;
  }
}
