.banner {
  position: relative;
}

.bannerImage {
  @media screen and (max-width: 991px) {
    height: calc(100vh - 46px - 71px);
    min-height: calc(100vh - 46px - 71px);
  }

  @media screen and (min-width: 992px) {
    height: calc(100vh - 46px - 81px);
    min-height: 615px;
  }

  object-fit: cover;
  object-position: center;
  width: 100%;
}

.bannerText {
  position: absolute;
  top: 0;
  max-width: 250px;
  padding: {
    top: 50px;
    right: 10px;
    bottom: 50px;
    left: 10px;
  }
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #088972;
  text-align: center;

  & > p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
  }
}

.swiper-pagination-custom {
  bottom: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  width: auto;
}

.swiper-pagination-bullet {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  border: 1px solid #fff;
  border-radius: 13px;
  cursor: pointer;

  margin: {
    right: calc(10px / 2);
  }

  &::after {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background: #fff;
    opacity: 0;
    transition: opacity 0.2s linear;
  }
}

.swiper-pagination-bullet-active {
  &::after {
    opacity: 1;
  }
}
