.cart-dropdown-container {
  @media screen and (max-width: 374px) {
    width: calc(100% - 24px) !important;
  }

  @media screen and (min-width: 375px) {
    width: 300px !important;
  }

  @media screen and (max-width: 991px) {
    top: 55px;
    right: 12px;
  }

  @media screen and (min-width: 992px) {
    top: 90px;
    right: 40px;
  }

  position: absolute;
  height: 340px;
  display: flex;
  flex-flow: column;
  padding: 20px;
  border: 1px solid #000;
  background-color: #fff;
  z-index: 5;

  .cart-dropdown-empty {
    justify-content: center;
    align-items: center;
    color: #005547;
    font-weight: bold;
  }

  .empty-message {
    font-size: 18px;
    margin: {
      top: 50px;
      right: auto;
      bottom: 50px;
      left: auto;
    }
  }

  .cart-items {
    height: 300px;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
  }

  button {
    margin-top: auto;
  }
}
