.order-stamp {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #088972;
  padding: {
    top: 30px;
    bottom: 50px;
  }
}

.order-stamp-heading,
.order-summary-heading {
  text-align: center;
  text-transform: capitalize;
  color: #005547;
  padding-bottom: 25px;
}

.order-stamp-image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto 15px auto;
}

.order-stamp-number {
  display: block;
  width: fit-content;
  font-size: 18px;
  line-height: 22px;
  margin: 30px auto 0 auto;
  text-align: center;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  color: #fff;
  background-color: #088972;
}

.order-summary {
  padding-top: 50px;
}
