.text-media {
  .text-media-reverse {
    @media screen and (max-width: 991px) {
      flex-flow: wrap;
    }

    @media screen and (min-width: 992px) {
      flex-flow: row-reverse;
    }

    .text-media-content {
      @media screen and (min-width: 992px) {
        padding-left: 60px;
      }

      &::before {
        left: auto;
        right: calc(-100% / 4);
      }

      &::after {
        @media screen and (max-width: 991px) {
          left: calc(-100% / 4);
          right: auto;
          z-index: 1;
        }
      }
    }
  }

  .text-media-content {
    background-color: #088972;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: calc(100% / 4);
      background-color: #088972;
      display: block;
    }

    &::before {
      left: calc(-100% / 4);
    }

    &::after {
      @media screen and (max-width: 991px) {
        left: auto;
        right: calc(-100% / 4);
      }

      @media screen and (min-width: 992px) {
        display: none;
      }
    }

    h2 {
      text-transform: capitalize;
      margin-bottom: 20px;
      position: relative;
      z-index: 1;
      width: 100%;
      color: #fff;
    }

    p {
      position: relative;
      z-index: 1;
      color: #fff;
      margin-bottom: 0;
    }

    @media screen and (min-width: 992px) {
      padding-right: 60px;
    }
  }

  .text-media-content,
  .text-media-image {
    position: relative;
    padding: {
      top: 50px;
      bottom: 50px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  .text-media-image {
    background-color: #fff;

    img {
      max-width: 100%;
      display: block;
      height: auto;
    }
  }
}
