.header-modal {
  opacity: 0;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &.show {
    opacity: 1;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    @media screen and (min-width: 576px) and (max-width: 767px) {
      max-width: 540px;
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
      max-width: 720px;
    }

    padding: {
      right: 12px;
      left: 12px;
    }
    border: 0;
    border-radius: 0;
    margin: {
      right: auto;
      left: auto;
    }
  }

  .modal-dialog {
    border-top: 1px solid #ccc;
    background-color: #fff;
    max-width: 100%;
    padding-bottom: 15px;
    margin: {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &:not(.scrolled) {
      height: calc(100vh - 46px - 71px);
      top: calc(46px + 71px);
    }

    &.scrolled {
      height: calc(100vh - 71px);
      top: 71px;
    }
  }
}
