@font-face {
  font-display: swap;
  font-family: "Caviar Dreams";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/CaviarDreams.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Caviar Dreams";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/CaviarDreams-Bold.woff2") format("woff2");
}
